@page "/loginmodal"



<!--Signin Modal HTML -->
@*<div id="signin-modal" class="modal sign-in fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-end">
        <div class="modal-content px-4 py-2">
            <div class="modal-head d-flex align-items-start justify-content-center p-3">
                <span class="d-flex flex-column align-items-center gap-2">
                    <h5 class="modal-title">Sign up/Login</h5>
                    <a href="#" class="navbar-brand h1 default-color default-hover-color">OfferUp</a>
                </span>

                <button type="button" class="btn-close m-0 position-absolute" style="right: 15px;"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body-content d-flex flex-column align-items-center justify-content-start gap-2 mb-2">*@
                <a href="#"
                   class="custom-log-btn bg-primary rounded-5 text-white text-center p-1 text-decoration-none">
                    <i class="bi bi-facebook float-left"></i>
                    Continue with Facebook
                </a>
                <a href="#"
                   class="custom-log-btn bg-primary rounded-5 text-white text-center p-1 text-decoration-none">
                    <i class="bi bi-google float-left"></i>
                    Continue with Google
                </a>
                <a href="#app-modal" data-bs-toggle="modal"
                   class="custom-log-btn bg-white text-dark border rounded-5 text-center p-1 text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-apple text-dark float-left mt-1" viewBox="0 0 16 16">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                    </svg>
                    Continue with Apple
                </a>
                <a href="#choice-modal" data-bs-toggle="modal"
                @onclick="@(() => ShowModalSignIn(ModalSize.Small))"
                   class="custom-log-btn bg-white border border-success rounded-5 text-success text-center p-1 text-decoration-none">
                    <i class="bi bi-envelope-fill text-success float-left"></i>
                    Continue with email
                </a>

            @*</div>
            <div class="modal-foot text-center">*@
                <p>
                    By tapping any of the buttons above, you agree to the <u>OfferUp Terms of Service</u>
                    and acknowledge the <u>OfferUpPrivacyPolicy</u>.
                </p>
                <p>
                    This site is protected by reCAPTCHA and the <u>GooglePrivacyPolicy,</u> and the
                    <u>Google Terms of Service</u> apply
                </p>
            @*</div>
        </div>
    </div>
</div>*@
@inject IModalService Modal
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await BlazoredModal.CancelAsync();

    void ShowModalSignIn(ModalSize size)
    {
        var options = new ModalOptions { Size = size };

        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size";

        Modal.Show<SignUpModal>("Login/SignUp", options);
    }
}
