@inherits LayoutComponentBase

<PageTitle>MerolekiandoBlazor</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    
    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        @*<div>
            <Navbar/>
        </div>*@
        <Navbar />
        <article class="content px-0">
            @Body
        </article>
    </main>
</div>
@*message chat box*@

<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="offcanvas">
    <div class="offcanvas-header">
        <span class="d-flex align-items-center gap-2">
            <!-- <button type="button" class="btn-close text-dark text-reset" data-bs-dismiss="offcanvas"></button> -->
            <a href="#" class="nav-link" data-bs-dismiss="offcanvas"><i class="bi bi-x-lg"></i></a>
            <a href="#" class="navbar-brand h1 default-color default-hover-color mb-0">Merolikeando</a>
        </span>

        <span class="d-flex align-items-center justify-content-between gap-2">
            <a href="#" class="nav-link">Post a Job</a>
            <a href="#modalCenter" class="nav-link" data-bs-toggle="modal">Login</a>
        </span>
    </div>
    <div class="offcanvas-body ">
        <a href="#" class="nav-link text-dark d-flex align-items-center justify-content-between ">
            <h6>Jobs</h6>
            <i class="bi bi-chevron-right"></i>
        </a>
        <hr>
        <!-- Catagories -->
        <h6>All Catagories</h6>
        
        <div class="d-flex flex-column gap-3" id="offCanvasCategories">
            @*<div class="offcanvas-link">
                <a class="text-dark d-flex align-items-center justify-content-between cursor-pointer text-decoration-none"
                   data-bs-toggle="collapse" data-bs-target="#offcanvas-drop-1">
                    <span class="d-flex align-items-center gap-1">
                        <i class="bi bi-laptop"></i>
                        <h6 class="mb-0 font-small">Electronics & Media</h6>
                    </span>

                    <i class="bi bi-chevron-compact-down"></i>
                </a>

                <div id="offcanvas-drop-1" class="collapse">
                    <ul class="list-unstyled text-white">
                        <li>
                            <a href="#" class="text-dark">
                                How it works
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">
                                Explore
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">
                                Trust & safety
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">
                                Safe trade spots
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>
        <hr>
        <h6>Shop</h6>

        <div class="d-flex flex-column gap-3">
            <a href="#" class="text-decoration-none text-dark font-smaller ">Post an item</a>
            <a href="#" class="text-decoration-none text-dark font-smaller ">Auto delearships</a>
        </div>
        <hr>
        <div class="d-flex flex-column gap-3">
            <a href="#" class="text-decoration-none text-dark font-smaller ">About</a>
            <a href="#" class="text-decoration-none text-dark font-smaller ">Help</a>
            <a href="#" class="text-decoration-none text-dark font-smaller ">Terms of Service</a>
            <a href="#" class="text-decoration-none text-dark font-smaller ">Privacy</a>
        </div>

    </div>
</div>


<Blazored.Modal.CascadingBlazoredModal/>
