@inject IModalService Modal
@*sticky-top*@
<div class="header w-100 bg-white mb-md-0 mb-3">
            <nav
                class="navbar navbar-expand navbar-light  d-flex align-items-center justify-content-between px-3 py-md-3 py-0">
                <div class="d-flex align-items-center">
                    <span class="d-flex align-items-center ">
                        <a href="" class="text-decoration-none d-md-none d-flex text-dark" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvas"> <i class="bi bi-list  me-2"></i></a>

                <a href="/" class="navbar-brand h1 default-color default-hover-color mb-0">Merolikeando</a>
                    </span>

                    <div class="d-none d-md-flex align-items-center justify-content-between">
                        <div class="form-inline my-2 my-lg-0 d-flex align-items-center rounded-5 p-1 gap-3">
                            <input class="form-control bg-transparent border-0 mr-sm-2 rounded-5" type="search"
                           placeholder="Search" aria-label="Search" onchange="searchValueSave(value)" />
                            <button class="btn border-0 my-2 my-sm-0 rounded-5 default-bg" onclick="search()">
                                <i class="bi bi-search text-white hover-color"></i>
                            </button>
                        </div>
                        <div class=" d-flex ms-3">
                    <select class="form-select mx-1 cursor-pointer" id="provinces" aria-label="Default select example"
                            onchange="getMunicipalities(value)">
                        <option selected>Province</option>
                        
                    </select>
                    <select class="form-select mx-1 cursor-pointer" id="municipalitiees" aria-label="Default select example">
                        <option selected value="0">Municipality</option>
                       
                    </select>
                        </div>
                    </div>
                </div>
                <div class="collaps navbar-collaps d-flex align-items-center justify-content-between"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle cursor-pointer d-lg-block d-none"
                                data-bs-toggle="dropdown">
                                About
                            </a>
                            <ul class="dropdown-menu shadow" style="border: none">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Link 2</a></li>
                                <li><a class="dropdown-item" href="#">Link 3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Post a Job</a>
                        </li>
                        <li class="nav-item d-lg-block d-none">
                            <a href="#" class="nav-link">Help</a>
                        </li>
                        <li class="nav-item">
                    <a href="#signin-modal" class="nav-link" data-bs-toggle="modal" id="loginBtn"
                            @onclick="@(() => ShowModalSignIn(ModalSize.Small))">
                            Login
                        </a>
                    <a href="#signin-modal" class="nav-link d-none" data-bs-toggle="modal" id="logoutBtn"
                       onclick="logoutUser()">
                        Logout
                    </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#signup-modal" class="nav-link" data-bs-toggle="modal">Signup</a>
                        </li> -->
                     </ul>
                </div>
            </nav>

            <!-- Modal HTML -->
    <!-- Hover dropdown menu -->
    <div class=" d-md-flex align-items-start justify-content-between d-none px-3" style="height: 40px;">
        <div class="" style="min-width: 70px;">
            <a href="#"
               class="custom-font text-dark text-decoration-none">Find a Job</a>
        </div>

        <ul class="d-flex align-items-center justify-content-between m-0 w-100 nav-links" id="category"></ul>

        <div class="nav-item dropdown">
            <a class="nav-link  " href="#" onmouseover="customHover ()" id="doMore">
                More
                <span class="jss1949 mt-1">
                </span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right shadow" id="more-content">
            </ul>
        </div>

    </div>
            <hr class="d-md-block d-none" />
        </div>
@inject IJSRuntime JS
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<string>("loadAPIs");
        }
    }

    void ShowModalSignIn(ModalSize size)
    {
        var options = new ModalOptions { Size = size };

        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size";

        Modal.Show<LoginModal>("Login/SignUp", options);
    }

    @*private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*@
}
