.spinner-wrapper {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}


.h1 {
    font-size: 1.7rem;
    font-weight: bold;
}
.font-small {
  font-size: small;
}
.font-smaller {
  font-size: smaller;
}
.cursor-pointer {
  cursor: pointer;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.font-weight-bold {
  font-weight: bold;
}
.default-color {
  color: #00a87e !important;
}
.default-bg {
  background-color: #00a87e !important;
}
.bg-disable {
  background-color: #9a9a9a !important;
}
.default-hover-bg:hover {
  background-color: #00a87e !important;
}
.btn:hover .hover-color {
  color: black !important;
}
.navbar .form-inline {
  border: 1px solid black;
}
.location-selector {
  font-weight: 500;
}
.default-hover-color:hover {
  color: #00a87e !important;
}

.navbar-nav li a {
  font-size: small;
  font-weight: 500;
  color: #313031 !important;
}
.form-select {
    border-radius: 20px !important;
}
.form-select:focus{
    outline:none !important;
}
.form-control:focus {
        box-shadow: none !important;
}
.custom-scroll {
  overflow-x: hidden;
}
.custom-scroll-unset {
  overflow-y: hidden;
  overflow-x: hidden;
}
/* On hover menu dropdown */
.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  font-size:medium;
  position: absolute;
  right: auto;
  left: auto;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  font-size: medium;
  padding: 12px 16px;
  text-decoration: none;

  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.custom-font {
  font-size: 15px;
  font-weight: 600;
}
.custom-font:hover {
  color: black !important;
}
/* Product Portion */
.main-div {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}
.left-col-main {
  padding: 24px 0px;
  flex-grow: inherit;
}
.main-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(177px, 1fr));
}
.img-row-main {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  justify-content: center;
  background-color: #fafafa;
}
.img-box {
  height: 90px;
}
.product-box a {
  grid-row: span 1 / span 1;
}
.product-img-box {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
}
.product-subtitle1 {
  font-size: 1rem;
  font-family: Lato-Bold, Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
}
.text-no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}
.custom-size-for-add {
  width: 300px;
  height: 600px;
}
.product-title {
    font-size: 12px;
    font-weight: 700;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
}
.product-location {
  font-size: 12px;
  font-weight: 300;
  color: #313031;
}

/* login modal */
.blazored-modal.size-small {
    max-width: 350px !important;
}
.bm-content{
    display:flex !important;
    flex-direction:column;
    gap:10px;
}
.modal-content {
    width: 75%;
    height: 30rem;
}
.custom-log-btn {
  width: 100%;
}
.modal-foot p {
  font-size: small;
}
/* Product page styling  */
.product-detail p {
  font-size: small;
  margin-bottom: 5px;
}
.description p {
  font-size: medium !important;
}
.link-buttons a {
  font-size: smaller;
  font-weight: 600;
}
.related-searches a {
  font-size: smaller;
  font-weight: 600;
}
.footer-links ul li a {
  font-size: small;
}
.footer span a {
  font-size: small;
  font-weight: 500;
}
@media (max-width: 768px) {
  .footer {
    position: relative !important;
    bottom: 38px;
  }
  .navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
.offcanvas-header .nav-link {
  font-size: smaller !important;
  font-weight: 500;
}
.offcanvas::-webkit-scrollbar {
  display: none;
}
.modal::-webkit-scrollbar {
  display: none;
}
.scroll-enable {
  overflow-y: auto; /* Add scroll to the modal body when its content exceeds the height of the modal */
  overflow-x: hidden;
}
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}
/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ============ desktop view .end// ============ */
/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: 0.5rem;
    }
}
/* ============ small devices .end// ============ */
.dropdown-menu {
    border: 0 !important;
    border-radius: 0 !important;
    max-width: 200px !important;
    font-size: small;
}

.dropdown-item {
    font-size:medium !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

#more-content {
    right: 35px;
    top: 35px;
}

.submenu-left {
    overflow-y: scroll;
    max-height: 300px;
}

    .submenu-left::-webkit-scrollbar {
        width: 0;
    }

.nav-links #doMore {
    order: 2;
}

.inner .show {
    max-height: 200px !important;
}

.inner::-webkit-scrollbar {
    width: 0;
}

.form-select {
    border: 0;
    max-width: 150px;
    overflow-y: scroll;
    max-height: 300px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 2 - 1rem);
}

.dropdown-content {
    top: 35px !important;
    overflow-y: scroll;
    max-height: 250px;
}

    .dropdown-content::-webkit-scrollbar {
        width: 0;
    }

@media screen and (min-width: 768px) {
    .dropdown {
        width: calc(100% / 4 - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .dropdown {
        width: calc(100% / 8 - 1rem);
    }
}

.ul {
    margin: 0;
    display: flex;
    padding: 0;
    white-space: nowrap;
    justify-content: space-between;
}

.dropdown:hover .jss1949 {
    background-color: #00a87e !important;
}

.jss1949 {
    display: block;
    width: 100%;
    bottom: 0;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

.category-name {
    font-size:medium;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.more-cat {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.more-cat li {
        display: flex;
        align-items: flex-start;
        width: 100%;
        font-size: small;
        line-height: 3;
}

.hover-bg-light:hover{
    background-color: lightgray !important;
}
.cusotm-btn {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
    padding: 0 !important;
    text-align: left !important;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
@media screen and (max-width: 1199px) {
    .dropdown {
        width: calc(100% / 5 - 1rem) !important;
    }
}